In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [14]:
dt = pd.read_csv('question.csv')
dt.head()

  Agent Name                   Timestamp  Driver ID
0     Nazmul   2017-05-08 11:30:03.05+07    1000094
1     Tasnia  2017-05-14 23:16:35.368+07    1001006
2    Sabrina  2017-05-11 13:36:37.733+07    1000482
3       Jeet  2017-05-08 11:12:38.463+07    1000026
4      Arfan  2017-05-09 11:48:13.452+07    1000181

In [19]:
persons = dt['Agent Name'].values
len(persons)

1037

In [16]:
print(persons)

['Nazmul' 'Tasnia' 'Sabrina' ... 'Tasnia' 'Nazmul' 'Nazmul']

In [17]:
a=dt['Agent Name'].values[2]
a

'Sabrina'

In [22]:
i=0
for p in persons:
    if p == "Sabrina":
        a = dt['Driver ID'].values[i]
        i+=1
        #print(a)
print(i)

118

In [8]:
time = dt['Timestamp'].values
len(time)

1037

In [21]:
i = 0
for p in persons:
    if p == 'Nazmul':
        i+=1
print(i)

365

In [22]:
drivers = dt['Driver ID'].values
len(drivers)

1037

In [23]:
i = 0
for d in drivers:
    if p == '1000151':
        i+=1
print(i)

0

In [24]:
print(drivers)

[1000094 1001006 1000482 ... 1000757 1000860 1000242]

In [26]:
import collections

x = [item for item, count in collections.Counter(drivers).items() if count > 1]
x

[]

In [27]:
seen = set()
uniq = []
for x in drivers:
    if x not in seen:
        uniq.append(x)
        seen.add(x)

In [28]:
len(seen)

1037

In [29]:
dt = pd.read_csv('set-c.csv')
dt.head()

,booking_id,data_date,booking_date,dispatch_time,closing_time,restuarant_name,customer_id,customer_name,driver_id,driver_name,shopping_estimated_price,origin_longitude,origin_latitude,destination_longitude,destination_latitude,total_distance,origin_note,destination_address
0,831421921,7-Apr-17,2017-04-07 10:00:25+07,2017-04-07 10:00:31+07,2017-04-07 10:37:41+07,Bakeout,242494516,adnan,364535582,Akbar,230,106.966298,-6.33641,106.956392,-6.329133,4.40,"Jl. Ciangsana, Jatiasih, Bekasi","Jalan Oman, Jatiasih, Kota Bekasi"
1,830674145,4-Apr-17,2017-04-04 13:30:38+07,2017-04-04 13:37:03+07,2017-04-04 14:15:52+07,Bakeout,242494516,adnan,364541746,Mashraful,240,106.966298,-6.33641,106.956392,-6.329133,4.40,"Jl. Ciangsana, Jatiasih, Bekasi","Jalan Oman, Jatiasih, Kota Bekasi"
2,830839333,4-Apr-17,2017-04-04 21:13:49+07,2017-04-04 21:14:09+07,2017-04-04 21:39:40+07,Bakeout,246632808,agnes,364867468,Wakil,170,106.966298,-6.33641,106.980128,-6.309142,5.60,"Jl. Ciangsana, Jatiasih, Bekasi","Jalan Nurul Huda, Bantargebang, Kota Bekasi"
3,832016507,9-Apr-17,2017-04-09 01:32:23+07,2017-04-09 01:32:27+07,2017-04-09 01:32:50+07,Bakeout,249747620,ahona,364640292,Andalib,400,106.966298,-6.33641,106.807735,-6.397938,24.78,"Jl. Ciangsana, Jatiasih, Bekasi","Gang Masjid, Pancoran MAS, Kota Depok"
4,832016043,9-Apr-17,2017-04-09 01:17:32+07,2017-04-09 01:17:35+07,2017-04-09 01:17:55+07,Bakeout,249747620,ahona,364640292,Andalib,400,106.966298,-6.33641,106.807735,-6.397938,24.78,"Jl. Ciangsana, Jatiasih, Bekasi","Gang Masjid, Pancoran MAS, Kota Depok"

In [51]:
driver = dt['customer_name'].values
len(driver)

248

In [52]:
seen = set()
uniq = []
for x in driver:
    if x not in seen:
        uniq.append(x)
        seen.add(x)
len(seen)

45

In [53]:
seen

{'adnan',
 'agnes',
 'ahona',
 'amreen',
 'anjali',
 'anulekha',
 'arif ',
 'ayan',
 'choyti',
 'ehsan ',
 'ekram ',
 'elius',
 'fahad',
 'fahim',
 'faruk',
 'farzana',
 'foysal',
 'golam',
 'imran',
 'israt',
 'istiak',
 'khaled',
 'kiran ',
 'kunal',
 'mahfuz',
 'maisha',
 'mehnaz',
 'moumita',
 'nabila',
 'naina',
 'nayamot\n',
 'nouroz',
 'nusrat',
 'nuzhat',
 'pardeep',
 'riaz',
 'ruzan',
 'saddam',
 'shabbir',
 'shamima',
 'shayla',
 'shifat ',
 'sifat',
 'sivan',
 'tasmia'}

In [55]:
i = 0
for p in driver:
    if p == 'shayla':
        i+=1
print(i)

1