In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Read CSV

In [2]:
dt = pd.read_csv('question.csv')
dt.head()

  Agent Name                   Timestamp  Driver ID
0     Nazmul   2017-05-08 11:30:03.05+07    1000094
1     Tasnia  2017-05-14 23:16:35.368+07    1001006
2    Sabrina  2017-05-11 13:36:37.733+07    1000482
3       Jeet  2017-05-08 11:12:38.463+07    1000026
4      Arfan  2017-05-09 11:48:13.452+07    1000181

In [3]:
# read a column
persons = dt['Agent Name'].values
print(len(persons))
print(persons)

1037
['Nazmul' 'Tasnia' 'Sabrina' ... 'Tasnia' 'Nazmul' 'Nazmul']

In [4]:
# slice csv
dt[:1]

  Agent Name                  Timestamp  Driver ID
0     Nazmul  2017-05-08 11:30:03.05+07    1000094

In [5]:
# read row
row = dt.values[0]
row

array(['Nazmul', '2017-05-08 11:30:03.05+07', 1000094], dtype=object)

In [6]:
len(row)

3

In [7]:
# get values individually 
row[0], row[1], row[2]

('Nazmul', '2017-05-08 11:30:03.05+07', 1000094)

In [9]:
# read a value in a column with an index
person = dt['Agent Name'].values[24]
person

'Arfan'

In [10]:
print(len(persons))

1037

In [13]:
# get list of driver id a person recruited

ids = []
count = 0
for p in persons:
    if p == "Sabrina":
        # retrive driver id of Sabrina's log
        d_id = dt['Driver ID'].values[count]
        count+=1
        ids.append(d_id)
print(ids)

[1000094, 1001006, 1000482, 1000026, 1000181, 1000620, 1000069, 1000891, 1000913, 1000055, 1000014, 1000520, 1001033, 1000372, 1000389, 1000283, 1000078, 1000525, 1000308, 1000791, 1000921, 1000888, 1000877, 1000617, 1000409, 1000800, 1000633, 1000536, 1000380, 1000045, 1000065, 1000368, 1000481, 1000688, 1000626, 1000630, 1000916, 1000804, 1000067, 1000628, 1000643, 1000273, 1000999, 1000264, 1000534, 1000516, 1000330, 1000677, 1000048, 1000087, 1000566, 1000605, 1000476, 1000066, 1000120, 1000186, 1000112, 1000371, 1000818, 1000509, 1000890, 1000943, 1000141, 1000088, 1001019, 1000903, 1000996, 1000342, 1000810, 1000990, 1000972, 1000978, 1000340, 1000047, 1000379, 1000715, 1000358, 1000082, 1000665, 1000815, 1000940, 1000895, 1000460, 1000638, 1000257, 1000928, 1000523, 1000683, 1000291, 1000987, 1000329, 1000399, 1000151, 1000774, 1000645, 1000041, 1000962, 1000025, 1000454, 1000108, 1000808, 1000627, 1000360, 1000910, 1000030, 1000528, 1000751, 1001007, 1000364, 1001034, 1001029, 1000997, 1000689, 1000233, 1000518, 1000438, 1000435, 1000568]

In [14]:
len(ids)

118

# Find unique persons

In [15]:
unique_peoples = []

for v in persons:
    if v not in unique_peoples:
        unique_peoples.append(v)
        
print(unique_peoples)
print(len(unique_peoples))

['Nazmul', 'Tasnia', 'Sabrina', 'Jeet', 'Arfan', 'Niamul']
6

# Pythonic Way... :v
* set() removes duplicates in a list

In [16]:
unique_peeps = set(persons)
print(list(unique_peeps))
print(len(unique_peeps))

['Nazmul', 'Arfan', 'Sabrina', 'Tasnia', 'Niamul', 'Jeet']
6

In [17]:
# read a column
time = dt['Timestamp'].values
print(time)

['2017-05-08 11:30:03.05+07' '2017-05-14 23:16:35.368+07'
 '2017-05-11 13:36:37.733+07' ... '2017-05-13 11:10:54.673+07'
 '2017-05-13 20:06:02.881+07' '2017-05-09 13:16:30.484+07']

In [18]:
type(time)

numpy.ndarray

In [19]:
time[0]

'2017-05-08 11:30:03.05+07'

In [20]:
time[0][9]

'8'

In [21]:
for t in time:
    check = t[9]
    if check >= "8" and check <= "14":
        print("Anomaly!")

In [22]:
x = np.array([1,2,3])
x

array([1, 2, 3])

In [23]:
type(x)

numpy.ndarray